<h1>My Lists  <a href="/task_lists/new">+ Add Task List</a></h1>




<h2>Work List</h2>

  <% @task_lists.each do |task_list| %>

  <section class="task-list">
    <h1><%= task_list.name %> <a href="/task_lists/<%= task_list.id %>/tasks/new"> new task </a> or  <a href="/task_lists/<%= task_list.id %>/edit">edit</a></h1>
    <ul><% task_list.tasks.each do |task| %>
        <li><%= task.description %></li> </ul>
        <% end %>
  </section>


<% end %>
